In [1]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\asus\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\asus\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\asus\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\asus\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\asus\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\asus\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [9]:
import pandas as pd

In [11]:
h = [1,2,3,6,5,10]

In [24]:
import pandas as pd
s = pd.Series(h)
s

0     1
1     2
2     3
3     6
4     5
5    10
dtype: int64

In [36]:
d = pd.DataFrame(h, columns =['humy'])
d

   humy
0     1
1     2
2     3
3     6
4     5
5    10

In [45]:
s1 = d['humy']
s1

0     1
1     2
2     3
3     6
4     5
5    10
Name: humy, dtype: int64

In [47]:
type(s1)

pandas.core.series.Series

In [63]:
j = [[1,2,3],[4,5,6],[7,8,9]]
df1 = pd.DataFrame(j,[0,1,2], ['hu', 'my', 'ra'])
df1

   hu  my  ra
0   1   2   3
1   4   5   6
2   7   8   9

In [77]:
dic = {
    'name' : ['sadman','sami','hunyra','adiba'],
    'varsity' : ['SUST','Shahjalal','DU','University of Dhaka'],
    'age' : [24,23,24,22]
}

In [91]:
s1 = pd.Series(dic)
d3 = pd.DataFrame(dic)

name                    [sadman, sami, hunyra, adiba]
varsity    [SUST, Shahjalal, DU, University of Dhaka]
age                                  [24, 23, 24, 22]
dtype: object