In [1]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\asus\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\asus\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\asus\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\asus\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\asus\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\asus\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [9]:
import pandas as pd

In [11]:
h = [1,2,3,6,5,10]

In [24]:
import pandas as pd
s = pd.Series(h)
s

0     1
1     2
2     3
3     6
4     5
5    10
dtype: int64

In [36]:
d = pd.DataFrame(h, columns =['humy'])
d

   humy
0     1
1     2
2     3
3     6
4     5
5    10

In [45]:
s1 = d['humy']
s1

0     1
1     2
2     3
3     6
4     5
5    10
Name: humy, dtype: int64

In [47]:
type(s1)

pandas.core.series.Series

In [63]:
j = [[1,2,3],[4,5,6],[7,8,9]]
df1 = pd.DataFrame(j,[0,1,2], ['hu', 'my', 'ra'])
df1

   hu  my  ra
0   1   2   3
1   4   5   6
2   7   8   9

In [77]:
dic = {
    'name' : ['sadman','sami','hunyra','adiba'],
    'varsity' : ['SUST','Shahjalal','DU','University of Dhaka'],
    'age' : [24,23,24,22]
}

In [91]:
s1 = pd.Series(dic)
d3 = pd.DataFrame(dic)

name                    [sadman, sami, hunyra, adiba]
varsity    [SUST, Shahjalal, DU, University of Dhaka]
age                                  [24, 23, 24, 22]
dtype: object

In [115]:
df2 = {
    'age': [20,21,22,23,24,25,26],
    'salary': [20000,30000,32000,37000,45000,50000,60000]
}

In [117]:
df2

{'age': [20, 21, 22, 23, 24, 25, 26],
 'salary': [20000, 30000, 32000, 37000, 45000, 50000, 60000]}

In [119]:
df4 = pd.DataFrame(df2)

In [121]:
df4

   age  salary
0   20   20000
1   21   30000
2   22   32000
3   23   37000
4   24   45000
5   25   50000
6   26   60000

In [123]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     7 non-null      int64
 1   salary  7 non-null      int64
dtypes: int64(2)
memory usage: 244.0 bytes

In [127]:
df4['age']=df4['age'].astype('int32')

In [129]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     7 non-null      int32
 1   salary  7 non-null      int64
dtypes: int32(1), int64(1)
memory usage: 216.0 bytes

In [133]:
df4['salary']=df4['salary'].astype('int32')

In [135]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     7 non-null      int32
 1   salary  7 non-null      int32
dtypes: int32(2)
memory usage: 188.0 bytes

In [137]:
df4['age']=df4['age'].astype('int32')

In [155]:
h = ['2024-05-9 12:34:56','2024-09-04 ']
df = pd.to_datetime(h)

ValueError: time data "2024-09-04" doesn't match format "%Y-%m-%d %H:%M:%S", at position 1. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [157]:
df

DatetimeIndex(['2024-05-09', '2024-09-04'], dtype='datetime64[ns]', freq=None)

In [159]:
df7 = pd.DataFrame(df)

In [161]:
df7

           0
0 2024-05-09
1 2024-09-04

In [163]:
df7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       2 non-null      datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 148.0 bytes